* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem
}

body {
    background-color: #212529;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
img {
    width: 200px;
    height: auto;
}

.table {
    justify-content: center;
    border-radius: 20px 20px;
}

thead tr {
    padding: 10px;
    justify-content: center;
    color: #1cc997;
}

.btn-sumit {
    position: relative;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
}

.justify-center {
    position: relative;
    display: flex;
    justify-content: center;
}

.main-nav {
    background-image: url("../../img/home-img.jpeg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.logo {
    background-image: url("../../img/logo.png");
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: absolute;
}

.container {
    position: relative;
}

.card-body {
    background-color: #212529;
    color: #fff;
}

.card {
    background-color: #212529;
    border: none;
}

label {
    color: #1cc997;
}

.justify-center {}